@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    overflow: auto;
    box-sizing: border-box;
    background-color: rgb(58, 85, 237);  
    font-family: Poppins;
}
#filter{
    width: 350px;
    position: absolute;
    right: 50px;
    top: 50px;
    text-align: center;
}

#container{
    background-color: #fff;
    width: 32rem;
    margin: 35vh auto;
    padding: 20px;
    position: relative;
    padding-top: 90px;
}
#container h1{
    position: absolute;
    top: 0px;
    left: 35px;
    font-weight: bold;

}
input{
    margin: 10px 20px;
    padding: 15px;
    outline-color: rgb(58, 85, 237);
    width: 90%;
    overflow: hidden;
    
    
}

.plus{
 font-size: 1rem;
 background-color: rgb(40, 64, 205);
 color: #fff;
 padding: 15px;
 position: absolute;
 right: 30px;
 top: 163px;

}
#task{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#task h3{
    font-size: 1rem;
}
#task h1{
    font-size: 2rem;
}
ul{
   list-style-type: none;
    position: relative;
    left : 0;
    width: 97%;
    margin-left: -2rem;
}
li{
    list-style-position: inside;
    margin-top: 20px;

    
}

button:hover{
    transform: scale(1.05);
}

::placeholder{
    font-size: 1rem;
}

#refresh{
 position: absolute;
 top: 30px;
 right: 20px;
 font-size: 1.7rem;
 
}
.rotated-1{
    transform: rotate(0deg);
    transition: all ease-in-out .3s; 
}
i{
    position: relative;
    color: rgb(40, 64, 205);
    font-size: 1.7rem;
    margin-top: -0.5rem;
}
i:hover{
    transform: scale(1.10);
}
ul .fa-trash{
    position: absolute;
    right: 25px;
    font-size: 1.2rem;
  
}
li{
    background-color: rgb(240, 240, 240);
    padding:  12px;
    font-size: 0.9rem;
    position: relative;  
    padding-left: 3rem;
    border: 1px solid rgb(224, 219, 219);
}

.fa-circle, .fa-check{
    font-size: 1.4rem;
    position: absolute;
    left: 15px;
    top: 20px;
    color: #868686;
   
}
.fa-circle{
    left: 10px;
}
.confirmation-modal{
    width: 250px;
    position: fixed;
    z-index: 1;
    text-align: center;
    transition: ease-in-out .7s;
   
}
ul .fa-pen-to-square{
    position: absolute;
    right: 50px;
    margin-top: 3px;
    font-size: 1.2rem;
}
/* li::before{
    content:  "o";
} */
.fa-trash{
    margin-top: 3px;
}
button.savebtn, button.cancelbtn{
    position: absolute;
    top: 50px;
    left: 5px;
    padding: 5px 15px;

    
}
.cancelbtn{
    margin-left: 5rem;
}
.savebtn{
    background-color: #198754;
    color: #fff;
    border: none;
    
}
.success-modal{
    background-color: #198754;
    color: #fff;
    color: #ffffff;
    padding: 7px;
    width: 50%;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    margin: 1rem;
    display: none;
    text-align: center;
 }
@media  screen and (max-width: 580px) {
 #container{
    width: 90%;
 }
 #input{
    width: 88%;
    
 }
 .plus{
    top: 166px;
    height: 20px;
    right: 25px;
 }

}

